<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>MovieGo</title>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Varela+Round&display=swap" rel="stylesheet">
        {%block style%} {%endblock%}
        <link type="text/css" rel="stylesheet" href="/static/style.css" >
    </head>
    <body>
        <nav class="navbar">
            <div class="logo"><h2>MovieGo</h2></div>
            <div class="menu">
                <a>Home</a>
                <a>About</a>
                <a>LogIn</a>
                <a>SignUp</a>
            </div>
        </nav>
        {% block content %}{% endblock %}
    </body>
</html>