{% extends 'movie_go/base.html' %}
{% block content %}
<div class="input-block"> 

  
<form method="POST" action="{% url 'movie_go:login' %}" class="login-form"> 
  <h1>Login</h1>
  <p>Please login, or <a href = "{% url 'movie_go:signup' %}">Register</a> to see this page.</p>
        {% if form.errors %}
       <p>Your username and password didn't match. Please try again.</p>
    {% endif %}
    {%if next %}
    {% if request.user.is_authenticated %}
    <!-- proceed to requested page-->
    {% else %}
    <p>Your account doesn't have access to this page. To proceed,
      please login with an account that has access.</p>
     
    {% endif %}
  {% endif %}
    {% csrf_token %}
    <p>
      {{ form.username.label_tag }}
      {{ form.username }}
    </p>
    <p>
      {{form.password.label_tag }}
      {{form.password }}
    </p>
      <input type="submit" name="Login" class="LoginBtn"/>
      <input type="hidden" name='next' value="{{ next}}"/>
   </p>
</form>
</div>
{% endblock %}