<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>MovieGo</title>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans&family=Varela+Round&display=swap" rel="stylesheet">
        <link type="text/css" rel="stylesheet" href="/static/style.css" >
        
        {%block style%} {%endblock%}      
        
    </head>
    <body>
        <nav class="navbar">
            <div class="logo"><h2>MovieGo</h2></div>
            <div class="menu">
                {% if user.is_staff %}
                    <a href="{% url 'movie_go:dashboard'%}">dashboard</a>
                {% endif %}
                <a href="{% url 'movie_go:index'%}">Home</a>
                <a href="{% url 'movie_go:about'%}">About</a>
                {% if user.is_authenticated %}
                    <div class="dropdown-parent">Account
                        <div class="dropdown-items">
                            <a href="{% url 'movie_go:basket_detail'%}" class="baskett_btn">Cart</a>
                            <a href="{% url 'movie_go:user_order_list'%}" class="orders_btn">Orders</a>
                            <a href="{% url 'movie_go:logout'%}" class="logout_btn" id="lgout">LogOut</a>
                        </div>
                    </div>
                {% else %}
                    <a href="{% url 'movie_go:login'%}" class="login_btn">LogIn</a>
                    <a href="{% url 'movie_go:signup'%}" class="signup_btn">SignUp</a>
                {%endif%}
            </div>
        </nav>
        {% block content %}{% endblock %}
        
    </body>
</html>