{% extends 'movie_go/base.html' %}
{%block style%}
<style>
.orders{
    height: 600px;
    width: 600px;
}
</style>
{%endblock%}
{% block content %}
<div class="dashboard">
    <div class="basic"></div>
    <div class="charts">
        <div class="orders">
        <canvas id="order-chart">
        </canvas>
        </div>
        <div class="users">
        <canvas id="users-chart">
        </canvas>
        </div>
    </div>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.js"></script>
<script type= 'text/javascript'>
const ctx = document.getElementById('order-chart').getContext('2d');
console.log(`{{xValues|safe}}`)
let chart = new Chart(ctx, {
    type: 'line',
    data: {
        labels: {{xValues|safe}},
        datasets: [{
            label: 'Numver of Orders per day',
            backgroundColor:"rgba(245, 235, 240, 0.8)",
            borderColor: "rgba(244, 237, 241, 0.8)",
            fill: false,
            data: {{yValues|safe}}
    }]
  },
    options: {
        responsive: true,
        scales: {
                xAxes: [{
                        scaleLabel: {
                            display: true,
                            labelString: 'Date',
                            fontSize: 30,
                            fontColor: "rgba(244, 237, 241, 0.8)",
                            }
                        }],
                yAxes: [{
                        scaleLabel: {
                            display: true,
                            labelString: 'Number of Orders',
                            fontSize: 30,
                            fontColor: "rgba(244, 237, 241, 0.8)",
                            }
                        }]

                }
            }
});
</script>
{% endblock %}