{% extends "movie_go/base.html" %}
{% load static %}
{%block style%}
<style>

</style>
{%endblock%}
{% block content %}
{% if user.is_authenticated %}
    <p class="welcome">Welcome back, {{ user.first_name }} 🥳</p>
{%endif%}
<section class="index">
    <div class="banner">
        <img src="https://image.tmdb.org/t/p/w500/7G9915LfUQ2lVfwMEEhDsn3kT4B.jpg">
        <div class="banner-text">
            <h2>For a fantastic movie-watching experience</h2>
            <p> Watch all the latest top-rated movies with your friends in a threatre-like environment</p>
            <p> With resolution ranging up to 4K </p>
            <a class="btn" href="{% url 'movie_go:movies'%}">Explore</a>
        </div>
        
    </div>
    <h2 class="zones-heading">Select zones to watch !!!</h2>
    <div class="zones">
        {%for zone in zones%}
            <div class="zone-items">
                <img src = "{% static 'images/' %}{{zone.image}}">
                <h4>{{zone.seats}} seats</h4>
                <p>{{zone.resolution}} resolution</p>
            </div>
        {%endfor%}
    </div>
    <h2 class="zones-heading">Select movies to watch !!!</h2>
    <a class="index-a" href="{% url 'movie_go:movies'%}">view more &rAarr;</a>
    <div class="movies">
        {%for movie in movies%}
            <div class="movie-items">
                <a href="{% url 'movie_go:movie_details' movie.id %}"><img src = "https://image.tmdb.org/t/p/w500{{movie.poster_path}}" alt="image not found"></a>
                <h4>{{movie.title}}, vote: {{movie.votes.vote_average}}</h4>
                <p>{{movie.release_date}}</p>
            </div>
        {%endfor%}
    </div>
</section>
<p class="credit">All the movie images are from : 'https://www.themoviedb.org/'</p>
{%endblock%}