{% extends 'movie_go/base.html' %}
{% load static %}
{% block content %}
<h1 class="details-heading">{{movie.title}}</h1>
    <div class="details">
        <div class="product-image">
            <img src="https://image.tmdb.org/t/p/w500{{movie.poster_path}}" alt="image not found">
        </div>
        <div class="product-details">
            <h3>{{movie.tagline}}</h3>
            <h4>Available in: {{languages}}</h4>
            <p id="overview">{{movie.overview}}</p>
            <h5>vote {{movie.votes}}</h5>
            <p>produced by: {{companies}}</p>
            <p>duration: {{movie.runtime}} minutes</p>
            <p>revenue: {{movie.revenue}} USD</p>
            <h4>Price: 7 GBP</h4>
            <a href="{% url 'movie_go:zone_detail' movie.id%}" class="btn">Add to cart 🛒</a>
        </div>
    </div>

{%endblock%}