{% extends 'movie_go/base.html' %}
{% block content %}
<div class="info">
<h2>You have these in your basket:</h2>
  {% for item in basket %}
    {% with product=item.product %}
 
<p>Price per item {{ item.price }} GBP * {{item.quantity}}</p> <br>
<p>Total Price: {{ item.total_price }} GBP</p>
     {% endwith %}
   {% endfor %} <br>
   <p>
    <form action="/payment/" method="post">
       {% csrf_token %}
       <p>Please enter your credit card details</p> <br>
       <input type='text' name='first_name' value="{{user.first_name}}" disabled>
       <input type='text' name='last_name' value="{{user.last_name}}" disabled>     <br>
       <label for='payment'>Card Type:</label><input type='text' size=5 name='payment' required>
       <input type="number" name="total" value="Total Payment:" required minlength="12">
       <input type="submit" value="Payment" name="submit" class="basket-btn">
       </form>
       </p>

</div>
 {% endblock %}