{% extends "movie_go/base.html" %}
{% load static %}
{% block content %}
    <section class="zones-section">
        <h2> Select a zone to watch {{movie.title}} </h2>
        <div class="zonesgrid">
            {%for zone in zones%}
            <div class="zonesg-items">
                <img src = "{% static 'images/' %}{{zone.image}}" alt="image not found">
                <h4>Number of seats: {{zone.seats}}</h4>
                <p>Screen Width: {{Zone.screenwidth}}</p>
                <p>Resolution: {{zone.resolution}}</p>
                <p>Location: {{zone.address}}</p>
                <p>Cost: {{zone.cost}} GBP</p>
                <a href="{% url 'movie_go:product_new' movie_id=movie.id zone_id=zone.id%}" class="btn-zone">Add to cart 🛒</a>
            </div>
            {%endfor%}
        </div>
    </section>
{%endblock%}